<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sample / ex1</h1>

    <h1 th:text="${'AAAAA'}">AAAAAAAAAAA</h1>

    <p>[[${list}]]</p>

    <div th:with="num1 = ${list[0]}, num2 = ${list[1]}">
        <p>[[${num1+num2}]]</p>
    </div>

    <ul>
        <li th:each="str : ${list}">[[${str}]]</li>
    </ul>

    <ul>
        <th:block th:each="str, status : ${list}">
        <li>AAAA [[${str}]] [[${status.index}]] [[${status.size}]]</li>
    </th:block>
    </ul>
</body>
</html>